apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
- name: quay.io/codefresh/argocd
  newName: custom_registry/codefresh/argocd
  newTag: v2.4.15-cap-CR-15677-rollout-rollback
- name: quay.io/codefresh/applicationset
  newName: custom_registry/codefresh/applicationset
  newTag: v0.4.2-CR-13254-remove-private-logs
- name: ghcr.io/dexidp/dex
  newName: custom_registry/codefresh/dex
  newTag: v2.35.3-distroless
- name: quay.io/codefresh/redis
  newName: custom_registry/codefresh/redis
  newTag: 7.0.4-alpine

patches:
# Istio protocol selection: https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/
# Ovveride the default protocol selection which is done by the port name (http), since this port is being used for both http and grpc.
- target:
    version: v1
    kind: Service
    name: argocd-server
  patch: |
    - op: add
      path: /spec/ports/0/appProtocol
      value: tcp
- patch: |-
    $patch: delete
    apiVersion: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    metadata:
      name: applications.argoproj.io
- patch: |-
    $patch: delete
    apiVersion: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    metadata:
      name: applicationsets.argoproj.io
- patch: |-
    $patch: delete
    apiVersion: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    metadata:
      name: appprojects.argoproj.io
- patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      name: argocd-application-controller
- patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      name: argocd-server
- patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRoleBinding
    metadata:
      name: argocd-application-controller
- patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRoleBinding
    metadata:
      name: argocd-server

resources:
- github.com/codefresh-io/csdp-official/csdp/hybrid/basic/apps/argo-cd?ref=0.1.20
